<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KRONOS | Reporte Aprendiz</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>

    <aside th:replace="~{fragments/sidebar :: sidebar(${usuario.menuNavegacion}, '/registro/reporte-aprendiz')}"></aside>

    <main class="main-content">

        <header class="top-header-capsule">
            <div class="welcome-info">
                <h1>📋 Reporte Aprendiz</h1>
                <p>Evidencia de los documentos requisito ya diligenciados y aprobados, por aprendiz.</p>
            </div>

            <div th:replace="~{fragments/notificaciones :: campana}"></div>
        </header>

        <section class="dashboard-grid">

            <div th:replace="~{fragments/reporte-aprendiz-buscador :: buscador(@{/registro/reporte-aprendiz})}"></div>

        </section>
    </main>

</body>
</html>
